@import "node_modules/bootstrap/scss/bootstrap.scss";

.show-jobs {
  //float: right;
  height: auto;
  align-items: center;

  table {
    width: 100%;
  }
}

.title {
  text-align: center;
  justify-content: center;
}

.delete-product-button {
  cursor: pointer;
}
