<div class="container-fluid app-home text-center">
  <h1 class="mb-4">Welcome to Company X</h1>
  <a href="/jobs/displayjobs" class="btn btn-primary ml-4">View Jobs</a>
  <a href="/jobs/addjobs" class="btn btn-primary ml-4">Add Job</a>
  <a href="/jobs/getOneJob" class="btn btn-primary ml-4">View Specific Job</a>
  <a href="/jobs/searchjob" class="btn btn-primary ml-4">Search Job</a>

  <!-- <div class="container-fluid search">
    <div class="main container-fluid">
      <div class="container-fluid search col-md-6 col-sm-8">
        <i class="floating-icon search-icon fa fa-search" (click)="searchJob()"></i>
        <input type="text" name="search" placeholder="Search Job" [(ngModel)]="jobName" (keyup.enter)="searchJob()" />
        <i class="floating-icon cancel-icon fas fa-times" (click)="clearSearch()"></i>
      </div>
      <div class="container">
        <table class="table table-hover">
          <tr *ngIf="jobs.length >= 1">
            <th *ngFor="let col of columns">
              {{ col }}
            </th>
          </tr>
          <tr *ngFor="let job of jobs; let i = index">
            <td>{{ job.partId }}</td>
            <td>{{ job.jobName }}</td>
            <td>{{ job.userId }}</td>
            <td>{{ job.qty }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div> -->
</div>
